body {
    background-color: lightblue;
}

img {
display: block;
margin: 0 auto;
width: 75%;
}

h1, h2, h3 {
    color: black;
    text-align: center;
}
#container {
    background-color: lightblue;
    width: 75%;
    margin: 20px auto;
    border: 4px solid hex color;
}

nav {
    background-color: lightblue;
    padding: 2px 0;
    text-align: center;
}

nav ul {
padding: 0;
list-style-type: none;
}

nav li {
display: inline-block;
}

nav li a {
    display: block;
    background-color: lightblue;
    width: 200px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    font-weight: bold;
    color: black;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 10px;
    margin: 0 10px;
}

nav li a:hover {
    background-color: white;
    color: black;
    border: 6px double black;
}

main {
    display: flex;
}

section, aside {
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

section {
    width: 80%;
}

aside {
    width: 20%;
}

.gallery {
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
}

#lower_area {
    display: flex;
}


.col {
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

footer {
    background-color: black;
    text-align: center;
    padding: 40px 0;
    color: white;
    font-weight: bold;
}

.button {
    display: block;
    width: 100px;
    height: 20px;
    line-height: 10px;
    background-color: lightblue;
    color: black;
    text-decoration: none;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
}

.button:hover {
    background-color: white;
    border-color: black;
}